---
// SCSS 모듈 import 제거
---

<div class="markdown-renderer text-gray-600 dark:text-gray-300">
  <slot />
</div>

<style is:global>
/* 제목 (Heading) 스타일 */
.markdown-renderer > :is(h1, h2, h3, p, ul, code):first-child {
  margin-top: 0;
}

.markdown-renderer > :is(h1, h2, h3) {
  @apply text-gray-800 dark:text-gray-100 font-semibold;
}

.markdown-renderer > h1 {
  @apply relative mt-8 lg:mt-12 pl-8 text-3xl lg:text-4xl leading-tight;
}

.markdown-renderer > h1::before {
  @apply absolute left-0 top-1/2 w-3 h-12 -translate-y-1/2 bg-violet-500 rounded-sm;
  content: '';
}

.markdown-renderer > h1:not(:first-of-type) {
  @apply mt-20 lg:mt-24;
}

.markdown-renderer > h1 + :is(h2, h3),
.markdown-renderer > h1 + p img {
  @apply mt-8 lg:mt-12;
}

.markdown-renderer > h2 {
  @apply text-2xl lg:text-3xl leading-9;
}

.markdown-renderer > h2 + table {
  @apply mt-6 lg:mt-8;
}

.markdown-renderer > h3 {
  @apply text-lg lg:text-xl leading-7;
}

.markdown-renderer > h3 + ul {
  @apply mt-2 lg:mt-4;
}

/* 리스트 (List) 스타일 */
.markdown-renderer > ul {
  @apply pl-6 list-disc text-base leading-8;
  font-variant-numeric: tabular-nums;
}

.markdown-renderer > ul + h2 {
  @apply mt-12 lg:mt-16;
}

.markdown-renderer > ul + h3 {
  @apply mt-6 lg:mt-8;
}

.markdown-renderer > ul + :is(p img, figure) {
  @apply mt-4 lg:mt-6;
}

/* 테이블 (Table) 스타일 */
.markdown-renderer > table {
  @apply w-full;
}

.markdown-renderer > table thead {
  @apply hidden;
}

.markdown-renderer > table tr {
  @apply border-t border-b border-gray-200 dark:border-gray-700;
}

.markdown-renderer > table td {
  @apply py-3 text-base leading-8;
}

.markdown-renderer > table td:first-of-type {
  @apply w-32 lg:w-40 min-w-[128px] lg:min-w-[160px] pr-8 lg:pr-12 font-medium italic text-right;
}

.markdown-renderer > table + h2 {
  @apply mt-12 lg:mt-16;
}

.markdown-renderer > table + h3 {
  @apply mt-6 lg:mt-8;
}

/* 문단 (Paragraph) 스타일 */
.markdown-renderer > p + ul {
  @apply mt-2 lg:mt-4;
}

.markdown-renderer > p:first-of-type img {
  @apply rounded-2xl;
}

/* 링크 (Link) 스타일 */
.markdown-renderer a {
  @apply text-violet-500 hover:text-violet-400 transition-colors;
}

/* 이미지 (Image) 스타일 */
.markdown-renderer figure:first-of-type img {
  @apply rounded-2xl;
}

.markdown-renderer figure + h3 {
  @apply mt-6;
}
</style> 