---
import { Responsive } from '../components/common';
import Section from '../components/common/Section.astro';
import Layout from '../layouts/MainGridLayout.astro';

const pageTitle = `404 - ν¬νΈν΄λ¦¬μ¤`;
---

<Layout title={pageTitle} hasHeaderBackground={true}>
  <Section className="flex flex-1 flex-col">
    <Responsive className="flex flex-1 items-center justify-center py-12 lg:py-20">
      <div class="flex w-full flex-col items-center gap-4 lg:gap-6">
        <div class="text-8xl mb-4">π”</div>
        <div class="flex flex-col items-center">
          <p class="text-center text-2xl font-semibold text-black lg:text-left">
            μ•—! μ΄κ³³μ€ <span class="text-blue-600">μ—†λ” νμ΄μ§€</span>μ…λ‹λ‹¤.
          </p>
          <div class="mt-4 flex flex-col items-center gap-1">
            <p class="text-gray-400">λ°©λ¬Έν•μ‹  λ§ν¬λ” μ‚­μ λμ—κ±°λ‚ μλ»λ μ£Όμ†μ…λ‹λ‹¤.</p>
            <p class="text-gray-400">λ©”μΈ νμ΄μ§€λ΅ μ΄λ™ν•΄ μ£Όμ„Έμ”.</p>
          </div>
          <a
            class="mt-6 block w-full rounded-md bg-blue-600 px-12 py-4 text-center font-medium text-white lg:transition-colors lg:hover:bg-blue-700"
            href="/"
            title="λ©”μΈ νμ΄μ§€λ΅ μ΄λ™"
            aria-label="λ©”μΈ νμ΄μ§€λ΅ μ΄λ™"
          >
            λ©”μΈμΌλ΅ μ΄λ™ν•κΈ°
          </a>
        </div>
      </div>
    </Responsive>
  </Section>
</Layout> 